/**
 * Add the styles that belong to the DESKTOP view only
 * Add the media rule and the styles that are common within the TABLET and MOBILE views
 * Add the media rule and the styles that belong to the MOBILE view only
 *
 * @format
 */


/* DESKTOP VIEW - 1281px and above */
@media (min-width: 1281px) {
  .content {
    max-width: 100%;
  }

  p.subtext {
    width: 900px;
    height: 48px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #404040;
    padding-left: 60px;
    padding-right: 60px;
  }

  .top-navigation .trigram {
    display: none;
  }

  .teammates-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    gap: 30px;
  }

  .teammates-list-wrapper {
    display: flex;
    width: 1024px;
    overflow: hidden;
    margin: 0 auto;
    gap: 30px;
  }

  .teammates-list::before,
  .teammates-list::after {
    display: flex;
    color: #969696;
    font-size: 30px;
    cursor: pointer;
  }

  .teammates-list::before {
    justify-content: flex-start;
    content: "\003C";
    padding-right: 40px;
  }

  .teammates-list::after {
    justify-content: flex-end;
    content: "\003E";
  }

  .teammate-img-wrapper {
    width: 160px;
    overflow: hidden;
  }
  .teammate-img-wrapper img {
    object-fit: cover;
    width: 100%;
  }
}

/* SMALL DESKTOP AND LAPTOP VIEWS - 1024px to 1280px */
@media (min-width: 1024px) and (max-width: 1280px) {
  .content {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .top-navigation .trigram {
    display: none;
  }
  p.subtext {
    width: 900px;
    height: 48px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #404040;
    padding-left: 60px;
    padding-right: 60px;
  }

  .teammates-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    gap: 30px;
  }

  .teammates-list-wrapper {
    display: flex;
    width: 1024px;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 0px;
    gap: 30px;
  }

  .teammates-list::before,
  .teammates-list::after {
    display: flex;
    color: #969696;
    font-size: 30px;
    cursor: pointer;
    padding: 0px 10px 30px 10px;
  }

  .teammates-list::before {
    justify-content: flex-start;
    content: "\003C";
  }

  .teammates-list::after {
    justify-content: flex-end;
    content: "\003E";
  }

  .teammate-img-wrapper {
    width: 160px;
    overflow: hidden;
  }
  .teammate-img-wrapper img {
    object-fit: cover;
    width: 100%;
  }

  /* Desktop hover effects */
  .top-navigation ul li a:hover {
    color: #1f1f1f;
    transition: color 0.3s ease;
  }

  .teammate-social-icons > div:hover {
    background-color: #1f1f1f;
    transition: background-color 0.3s ease;
  }

  footer .social-icons div:hover {
    color: white;
    transition: color 0.3s ease;
  }

  footer .social-icons .icon:hover {
    background-color: white;
    color: black;
    transition: all 0.3s ease;
  }

  .footer-contacts {
    padding-left: 60px;
    padding-right: 60px;
  }

  .footer-contacts ul li a:hover {
    color: white;
    transition: color 0.3s ease;
  }
}

/* TABLET AND MOBILE VIEWS - 768px to 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  .content {
    max-width: 100%;
  }

  .content h1 {
    font-size: 48px;
    padding: 0 20px;
  }

  .content h2 {
    font-size: 28px;
  }

  .content p.subtext {
    padding: 0 20px;
  }

  .header-content {
    flex-direction: row;
    text-align: center;
    padding: 10px 30px;
    gap: 33px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10 30px;
  }

    .top-navigation ul {
    display: none;
  }

  .section-info .h1 {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
  }

  p.subtext {
    width: 708px;
    height: 72px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #404040;
  }


  .section-info {
    padding: 80px 30px 30px 30px;
    gap: 14px;
  }

  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }

  .portfolio-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 708px;
    height: 140px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .portfolio-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 200px;
    height: 140px;
  }

   .portfolio-img-wrapper img {
    flex: none;
    align-self: stretch;
    flex-grow: 1;
  }

.portfolio-item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 478px;
    height: 112px;
    flex: none;
    order: 1;
    flex-grow: 1;
  }

  .portfolio-item-info .item-title {
      width: 167px;
      height: 30px;
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      color: #1F1F1F;
      flex: none;
      order: 0;
      flex-grow: 0;
  }

  .portfolio-item-info .item-description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 10px;
      width: 478px;
      height: 112px;
      flex: none;
      order: 1;
      flex-grow: 1;
      text-align: left;
      color: #969696;
      align-self: stretch;
  }

  .content content-vertical teammates-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      width: 100%;
      height: 1744px;
      margin: 0;
      flex: none;
      order: 2;
      align-self: stretch;
      flex-grow: 0;
  }

  .section-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 90px 0px 80px;
      gap: 14px;
      width: 100%;
      height: 248px;
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;
  }

  .surrounded-header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px;
      gap: 10px;
  }

  .surrounded-header::before,
  .surrounded-header::after {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5px 0px 0px;
    gap: 10px;
    width: 20px;
    height: 1px;
    flex: none;
    order: 0;
    flex-grow: 0;
    top: 4px;
  }

  h2.surrounded-header {
    width: 100%;
    height: 46px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: #969696;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .section-info p.subtext {
    width: 600px;
    height: 48px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #969696;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .teammates-content .subtext {
    width: 100%;
  }

  .teammates-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: stretch;
    padding: 0;
    width: 100%;

  }

  .teammates-list::before,
  .teammates-list::after {
    display: none;
  }

  .teammates-list-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 100%;
    height: 1416px;
    flex: none;
    order: 0;
    flex-grow: 1;
  }

  .teammate {
    flex: 0 0 calc(40% - 10px);
    box-sizing: border-box;
    flex-grow: 1;
  }

  .teammate-img-wrapper {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .teammate-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    gap: 10px;
    display: block;
  }

  .teammate-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: auto;
    height: 48px;
    margin: 0 auto;
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .teammate-social-icons > div {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 10px;
    background: linear-gradient(0deg, #969696, #969696), linear-gradient(0deg, #969696, #969696), #969696;
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  footer .social-icons > div {
    display: flex;
    align-items: flex-end;
    width: 30px;
    height: 30px;
  }

  footer .social-icons span {
   display: none;
  }

  footer .social-icons .icon {
    background-color: #ffffff;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .footer-contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    text-align: center;
  }

  .footer-contacts > div {
    width: 124px;
  }


  
}

/* MOBILE VIEW - 360px to 767px */
@media (max-width: 767px) {
  .content {
    padding: 0 15px;
  }

  .content h1 {
    font-size: 32px;
    padding: 0 10px;
  }

  .content h2 {
    font-size: 24px;
  }

  .content p.subtext {
    padding: 0 10px;
    font-size: 14px;
  }

  .header-content {
    padding: 0 15px;
  }

  .logo span {
    font-size: 16px;
  }

  .logo-icon {
    width: 40px;
    height: 40px;
    font-size: 24px;
  }

  .portfolio-content,
  .teammates-content {
    padding-top: 40px;
  }

  .teammates-content {
    padding-bottom: 40px;
  }

  .content-vertical {
    gap: 40px;
  }

  .footer-content {
    gap: 40px;
  }

  .footer .social-icons {
    flex-direction: column;
    gap: 20px;
  }

  .footer .social-icons div {
    width: 100%;
    justify-content: center;
  }
}
